body {
  background: #dbdbdb;
}

header {
  @apply bg-white;
}

header div {
  @apply h-full;
}

header h1 {
  @apply h-full text-2xl uppercase underline text-left pl-6 pt-2;
}

header h1 a {
  @apply pt-2 block;
}

main {
  @apply m-auto max-w-full;
}

main h1 {
  @apply text-3xl;
}

footer {
  @apply text-center p-6;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

.home-slider .awssld__wrapper {
  @apply text-white;
  height: 50vh;
}

.bg-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%230f512d' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-size: 100px;
}

.awssld__content {
  @apply bg-transparent !important;
}

.awssld__controls__arrow-left:after,
.awssld__controls__arrow-left:before,
.awssld__controls__arrow-right:after,
.awssld__controls__arrow-right:before {
  @apply bg-white !important;
}

.awssld__bullets {
  background: #999;
  padding: 4px 0;
  bottom: -20px;
}

.awssld__bullets button {
  height: 8px !important;
  width: 45px !important;
  margin: 5px !important;
  border-radius: 0 !important;
}

.awssld__bullets .awssld__bullets--active,
.awssld__bullets .awssld__bullets--active:hover {
  transform: scale(1.1) !important;
  background: #fff !important;
  @apply bg-green-600 !important;
}
.awssld__bullets button {
  @apply bg-gray-500 !important;
}
.awssld__bullets {
  @apply bg-gray-100 !important;
  padding: 15px;
  bottom: 0 !important;
  position: relative !important;
}

.post {
  transition: all 1s;
}

.filters {
  @apply w-full text-center py-3 flex justify-between;
}

.filters .btn {
  @apply flex-1 mr-3 justify-center text-white uppercase;
}

.talleres .posts {
  height: auto;
  padding-top: 50px;
}

.talleres .posts .post {
  @apply text-center w-64 p-6 border-gray-300 m-2 px-8 font-medium tracking-wider ml-0 flex-1 max-w-lg relative top-0 shadow cursor-pointer;
  transition: all 0.8s;
}

.talleres .posts .post:hover {
  @apply shadow-lg;
  top: -10px;
  background-position: 0 10px;
}

.agenda .posts .post {
  @apply relative top-0 shadow cursor-pointer;
  transition: all 0.8s;
}

.agenda .posts .post:hover {
  @apply shadow-lg;
  top: -10px;
}
